h1{
    text-align: center;
    font-size: 60px;
    font-family:cursive;
    padding-top: 5%;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family:cursive;
    padding-bottom: 5%;
}
h4{
    font-family: cursive;
}
.btn{
    font-family: cursive;
    background-color: bisque;
}
body{
    background-image: url(spoons.bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
